/* --------- AUTH --------- */
.auth-main {
  color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.auth-wrapper {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 1100px;
}

.auth-card {
  flex: 1;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 0px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 20px 25px 25px;
  border-left: 5px solid #FCB615;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-card h1 {
  margin: 10px 0 5px;
  font-size: 22px;
}

.auth-subtitle {
  margin: 0 0 10px;
  font-size: 14px;
  opacity: .8;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px 20px;
}

.form-group-full {
  grid-column: 1 / -1;
}

.form-group
{
    width: 90%;
}

.auth-btn {
  width: 90%;
}

/* Reutiliza tus estilos existentes de .form-group, input, select, button */
