

/* --------- GENERALES --------- */
main { color: rgb(37, 37, 37); }

.contenedor-principal {
  display: flex;
  height: 100%;
  gap: 10px;
}



/* --------- PANEL FILTROS --------- */
.seccion-extra {
  border-right: 5px solid #FCB615;
  width: 20%;
  background-color: rgb(245, 245, 245);
  padding: 0px 15px 20px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px 5px rgba(112, 112, 112, 0.2);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.seccion-extra h2 {
  font-size: 18px;
  color: rgb(37, 37, 37);
}

.filtro {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 0;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  color: rgb(37, 37, 37);
}

.filtro input
{
  width: 90%;;
}

/* --------- LISTA --------- */
.seccion_siniestros {
  width: 80%;  /* Asegúrate de que ocupe todo el ancho disponible */
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* Muestra 3 columnas */
  gap: 30px;  /* Espacio entre las tarjetas */
  margin-top: 15px;
}

/* --------- CARD --------- */
.siniestro-card {
  background-color: rgb(245, 245, 245);
  color: rgb(37, 37, 37);
  padding: 5px 20px;
  box-shadow: 0px 0px 10px 5px rgba(112, 112, 112, 0.2);
  display: flex;
  flex-direction: column;
  height: 250px;  /* Ajusta la altura para que dependa del contenido */
  width: auto;  /* Asegúrate de que las tarjetas ocupen todo el espacio disponible dentro de cada celda */
  
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.card-header h2 { margin: 0; }

.estado-badge {
  display: inline-block;
  padding: 5px 40px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

.card-details {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 10px;
}
.card-details p { margin: 2px 0; }

.btn {
  margin-top: auto;
  margin-bottom: 10px;
}

/* --------- MODAL --------- */
.modal-panel {
  position: fixed; top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff; padding: 30px; min-width: 300px; position: relative;
}

.close-btn {
  position: absolute; top: 10px; right: 15px; font-size: 2rem; cursor: pointer;
}

/* Estilos del formulario */
.form-group {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #f44336;
}

button:hover {
  opacity: 0.8;
}


/* --------- NOTIFIACIOn --------- */
.notif {
  position: fixed;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 37, 37);
  color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.2);
  font-size: 16px;
  text-align: center;
}

.notif p {
  margin: 0;
  font-size: 16px;
}

.gif-progress {
  width: 100px; /* Ancho del contenedor cuadrado */
  height: 100px; /* Alto del contenedor cuadrado */
  margin-top: 10px;
  object-fit: cover; /* Asegura que el GIF ocupe todo el contenedor */
  border-radius: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
